<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="sha-1" class="java.security.MessageDigest" factory-method="getInstance" scope="prototype">
        <constructor-arg value="SHA-1"/>
    </bean>
    <bean name="urlCoder" class="ru.yaal.project.urldatabase.storage.UrlCoder" scope="prototype">
        <constructor-arg name="root" type="java.io.File" value="root"/>
        <constructor-arg ref="sha-1"/>
    </bean>
    <bean name="urlStorage" class="ru.yaal.project.urldatabase.storage.UrlStorage" scope="prototype">
        <constructor-arg name="coder" ref="urlCoder"/>
        <constructor-arg name="dateFormat" ref="dateFormat"/>
    </bean>
    <bean name="dateFormat" class="java.text.DateFormat" factory-method="getDateTimeInstance"/>
    <bean name="abstractLoadable" abstract="true" class="ru.yaal.project.urldatabase.loadable.AbstractLoadable"
          scope="prototype">
        <property name="dateFormat" ref="dateFormat"/>
    </bean>
    <bean name="memoryLoadable" class="ru.yaal.project.urldatabase.loadable.MemoryLoadable" scope="prototype"
          parent="abstractLoadable">
        <constructor-arg type="java.net.URL" value="null"/>
        <constructor-arg type="java.util.Date" value="null"/>
        <constructor-arg type="byte[]" value="null"/>
    </bean>
    <bean name="inputStreamLoadable" class="ru.yaal.project.urldatabase.loadable.InputStreamLoadable" scope="prototype"
          parent="abstractLoadable">
        <constructor-arg type="java.io.InputStream" value="null"/>
    </bean>
    <bean name="fileLoadable" class="ru.yaal.project.urldatabase.loadable.InputStreamLoadable" scope="prototype"
          parent="abstractLoadable">
        <constructor-arg type="java.io.File" value="null"/>
    </bean>
</beans>